body{
    font-family: 'Montserrat', sans-serif;
}


header{
    background: #FFFFFF;

}
    

.coiso{
    background-color: #76cdff;
    color: #76cdff;
    font-size: x-large;
}


.logo{
    margin-top: 65px;
}


hr{
    color: #76cdff;
    height: 35px;
}


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 110px;
    right: 0;
}


#login, #carrinho, #mais{
    margin-right: 15px;
}


nav li{
    display: inline;
}


nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}


ul{
    margin-left: 1px;
}


.links{
    font-size: 20px;
    text-align: left;
    display: flex;
    background: #bcbcbc;
    align-items: center;
    border-radius: 30px;
}


.links h1{
    margin-right: 305px;
    margin-left: 40px;
    font-family: ;
}