body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    background: #FFFFFF;

}
    

.coiso{
    background-color: #76cdff;
    color: #76cdff;
    font-size: x-large;
}


.logo{
    margin-top: 65px;
}


hr{
    color: #76cdff;
    height: 35px;
}


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 110px;
    right: 0;
}


nav li{
    display: inline;
}


nav a{
    text-decoration: none;
}

 
#login, #carrinho, #mais{
    margin-right: 15px;
}


ul{
    margin-left: 1px;
}


.linha{
    border-top: 5px solid #76cdff;
    width: 70%;
    margin: 0 280px;
}


a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}


.links{
    font-size: 20px;
    display: inline-flex;
    background: #d9d9d9;
    margin: 0 310px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
}


a:hover{
    color: #b28500;
}


#inicio{
    margin-left: 100px;
    margin-right: 205px;
}


#contato{
    margin-right: 100px;
    margin-left: 205px;
}


#quemsomos, .produtos{
    margin-right: 205px;
    margin-left: 40px;
}


#promocao{
    margin-left: 280px;
    margin-top: 40px;
    transition: 1s all;
    cursor: pointer;
}


#promocao:hover{
    transform: scale(1.1);
}


#itens{
    font-size: 35px;
    margin: 18px 290px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}